<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <title>BoolzApp</title>
</head>
<body>
    <!-- bacgroud page -->
    <div id="top-green"></div>
    <!-- main page -->
    <div id="page"></div>
    <main id="main-body">
            <!-- aside -->
            <aside>
                <!-- barra utente IO -->
                <div id="my-id">
                    <!-- immagine IO -->
                    <div>
                        <figure>
                            <img src="img/avatar_io.jpg" alt="avatar mio">
                        </figure>
                        <!-- nome -->
                        <span>
                            <h2>
                                TntZito
                            </h2>
                        </span>
                    </div>

                    <!-- 3 icone -->
                    <span class="icons-top-bar">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                </div>

                <!-- blocco notifiche -->
                <div id="notifiche">
                    <span>
                        <i class="fas fa-bell-slash"></i>
                    </span>
                    <div>
                        <h3>
                            Ricevi notifiche di nuovi messaggi
                        </h3>
                        <h3>
                            Attiva notifiche desktop
                        </h3>
                    </div>
                </div>
                <!-- barra di ricerca -->
                <div id="search">
                    <span>
                        <div>
                            <i class="fas fa-search"></i>
                        </div>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </span>
                </div>
                <!-- bloccho chat attive -->
                <div id="chats">

                    <!-- parte che si crea con JS selezione personaggio -->
                    <div class="chat-in-progress" v-for="userToChat, i in utenti" :key="i" @click="changeChat(i)" :class="userToChat.visible === true? `selected` : `` ">
                        <div>
                            <figure>
                                <img :src="userToChat.avatar" :alt="userToChat.nome">
                            </figure>
                            <!-- nome -->
                            <span>
                                <h2>
                                    {{userToChat.nome}}
                                </h2>
                                <p>
                                    Ultimo messaggio
                                </p>
                            </span>
                        </div>
                        <span class="last-acces"> 
                            {{userToChat.lastAcces}}
                        </span>
                    </div>

                </div>
            </aside>

            <!-- parte principale -->
            <section>
                <!-- barra utente in-page -->
                <div id="message-top-bar">

                    <!-- questa parte cambia in base alla chat -->
                    <div class="" v-for="immage in utenti" :class="immage.visible === false ? `deActive` : ``">
                        <figure>
                            <img :src="immage.avatar" alt="immage.nome">
                        </figure>
                        <!-- nome -->
                        <span>
                            <h2>
                                {{immage.nome}}
                            </h2>
                            <p>
                                {{immage.lastAcces}}
                            </p>
                        </span>
                    </div>

                    <!-- 3 icone -->
                    <span class="icons-top-bar">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </span>

                </div>

                
                <!-- blocco pagina principale -->
                <div class="message-area" v-for="element, i in utenti" :class="element.visible === false? `deActive` : `` " :key="i">

                    <!-- tutti i messaggi vanno creati con js -->
                    <div v-for="chats in element.chat" :class="chats.whoSend == `user`? `user` : `owner`">
                        {{chats.message}}
                        <span class="time-message">
                            {{chats.timeSend}}
                        </span>
                    </div>
    
                </div>
                <!-- area di testo -->
                <div id="text-input" v-for="chatBar,i in utenti" :class="chatBar.visible === false? `deActive` : `` " :key="i">
                    <div>
                        <i class="far fa-smile"></i>
                    </div>
                    <div id="message-text-input" v-model="newMessage" @keyup.enter="sendNewMessage(i)">
                        <input type="text" placeholder="Scrivi un messaggio">
                    </div>
                    <div>
                        <i class="fas fa-microphone"></i>
                    </div>

                </div>
            </section>

        </main>

    <!-- file JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js"></script>
</body>
</html>